<% if object.errors.any? %>
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert">&#215;</a>
      <h1>Внимание!</h1>
      <p>При
        сохранении <%= Russian.p(@user.errors.count, "произошла", "произошли", "произошли") + ' ' + @user.errors.count.to_s + ' ' + Russian.p(@user.errors.count, "ошибка", "ошибки", "ошибок") %></p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>
      </ul>
    </div>
<% end %>