<header class="clearfix">
  <h1>Флэшкарточкер</h1>
  <ul class="navigation-links">
    <li><%= link_to "Все карточки", card_index_path %></li>
    <li><a href="#">Добавить карточку</a></li>
  </ul>
</header>