<header class="clearfix">
  <h1>Флэшкарточкер</h1>
  <ul class="navigation-links">
    <li><%= link_to "Все карточки", cards_path %></li>
    <li><%= link_to "Добавить картчоку", new_card_path %></li>
  </ul>
</header>