<p><%= f.input :original_text, as: :string, label: "Original text", hint: false, placeholder: 'Дом' %></p>
<p><%= f.input :translated_text, as: :string, label: "Translated text", hint: false, placeholder: 'House' %></p>

